<div data-bind="if: displayAtThisLocation, visible: isPaymentRequestAPISupported">
  <div class="payment-group">
    <div class="step-title mobile" data-role="title">
      <!-- ko i18n: 'Instant Payment Checkout' --><!-- /ko -->
    </div>
    <div class="payment-method cryozonic-stripe mobile">
      <div class="cryozonic-stripe cryozonic-stripe-apple-pay-section" data-bind="visible: showApplePaySection()">
        <label data-bind="visible: showApplePayButton()"><!-- ko i18n: 'Buy now with Apple Pay' --><!-- /ko --></label>
        <button id="apple-pay-button" data-bind="visible: showApplePayButton(), click: beginApplePay"></button>
        <div id="payment-request-button" data-bind=""></div>
      </div>

      <div data-bind="
        attr: {
          id: 'cryozonic_stripe_apple_pay_div'
        },
        if: cryozonicApplePayToken,
        visible: cryozonicApplePayToken()
        " class="cryozonic-stripe cryozonic-stripe-apple-pay-result">
        <label><!-- ko i18n: 'Selected Card' --><!-- /ko --></label>
        <div>
          <span id="apple-pay-result-brand"
          data-bind="
          html: cryozonicApplePayToken().card.brand,
          attr: { class: cryozonicApplePayToken().card.brand + ' type' }
          ">
          </span>
          **** <span id="apple-pay-result-last4" data-bind="html: cryozonicApplePayToken().card.last4"></span>
        </div>
        <button type="button" class="action" title="<!-- ko i18n: 'Reset'--><!-- /ko -->" name="reset" data-bind="click: resetApplePay">
          <span><!-- ko i18n: 'Reset' --><!-- /ko --></span>
        </button>
      </div>

      <div class="checkout-agreements-block">
          <!-- ko foreach: getRegion('before-place-order') -->
              <!-- ko template: getTemplate() --><!-- /ko -->
          <!--/ko-->
      </div>

    </div>
  </div>
</div>

