<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="StripeSubscriptionsFacade" type="Cryozonic\StripeSubscriptions\Model\Method">
        <arguments>
            <argument name="code" xsi:type="string">cryozonic_stripesubscriptions</argument>
            <argument name="formBlockType" xsi:type="string">Cryozonic\StripePayments\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Cryozonic\StripePayments\Block\Info</argument>
            <argument name="config" xsi:type="object">Cryozonic\StripeSubscriptions\Model\Config</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="valueHandlerPool" xsi:type="object">StripeSubscriptionsValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">StripeSubscriptionsValidatorPool</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="StripeSubscriptionsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">StripeSubscriptionsConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="StripeSubscriptionsConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">StripeSubscriptionsConfig</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="StripeSubscriptionsConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">cryozonic_stripesubscriptions</argument>
        </arguments>
    </virtualType>

    <!-- Validators -->
    <virtualType name="StripeSubscriptionsValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>

    <type name="Cryozonic\StripeSubscriptions\Controller\Customer\Subscriptions">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session</argument>
            <argument name="helper" xsi:type="object">Cryozonic\StripePayments\Helper\Generic</argument>
            <argument name="order" xsi:type="object">Magento\Sales\Model\Order</argument>
            <argument name="stripeCustomer" xsi:type="object">Cryozonic\StripePayments\Model\StripeCustomer</argument>
        </arguments>
    </type>

    <type name="Cryozonic\StripeSubscriptions\Setup\Migrate\ProductConfigurationCommand">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\CollectionFactory</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="MigrateAttributes" xsi:type="object">Cryozonic\StripeSubscriptions\Setup\Migrate\AttributesCommand</item>
                <item name="MigrateProductsConfiguration" xsi:type="object">Cryozonic\StripeSubscriptions\Setup\Migrate\ProductConfigurationCommand</item>
                <item name="MigrateStripeSubscriptions" xsi:type="object">Cryozonic\StripeSubscriptions\Setup\Migrate\StripeSubscriptionsCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Initial Fee -->
    <type name="Magento\Quote\Model\Quote\Address\ToOrder">
        <plugin name="addInitialFeeToOrder" type="Cryozonic\StripeSubscriptions\Plugin\Quote\InitialFeeToOrder"/>
    </type>
    <type name="Magento\Sales\Block\Order\Totals">
        <plugin name="addInitialFeeTotal" type="Cryozonic\StripeSubscriptions\Plugin\Order\AddInitialFeeToTotalsBlock"/>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="setInitialFeeExtensionAfterLoad" type="Cryozonic\StripeSubscriptions\Plugin\Order\LoadInitialFee"/>
    </type>
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="getInitialFeeExtensionBeforeSave" type="Cryozonic\StripeSubscriptions\Plugin\Order\SaveInitialFee"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Collection">
        <plugin name="setInitialFeeExtensionAfterLoad" type="Cryozonic\StripeSubscriptions\Plugin\Order\LoadInitialFeeOnCollection"/>
    </type>

</config>
