<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cryozonic_stripepayments_assigndata">
        <observer name="cryozonic_stripepayments_assigndata_observer" instance="Cryozonic\StripeSubscriptions\Observer\DataAssignObserver" />
    </event>
    <event name="cryozonic_switch_subscription">
        <observer name="cryozonic_switch_subscription_observer" instance="Cryozonic\StripeSubscriptions\Observer\SwitchSubscriptionObserver" />
    </event>
    <event name="cryozonic_create_subscriptions">
        <observer name="cryozonic_create_subscriptions_observer" instance="Cryozonic\StripeSubscriptions\Observer\CreateSubscriptionsObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="cryozonic_stripesubscriptions_method_active" instance="Cryozonic\StripeSubscriptions\Observer\PaymentMethodActiveObserver" />
    </event>

    <!-- Webhooks -->
    <event name="cryozonic_stripe_webhook_invoice_payment_succeeded">
        <observer name="cryozonic_stripe_webhook_invoice_payment_succeeded_observer"
            instance="Cryozonic\StripeSubscriptions\Observer\WebhooksObserver" />
    </event>
    <event name="cryozonic_stripe_webhook_invoice_payment_failed">
        <observer name="cryozonic_stripe_webhook_invoice_payment_failed_observer"
            instance="Cryozonic\StripeSubscriptions\Observer\WebhooksObserver" />
    </event>

    <!-- Initial Fee -->
    <event name="checkout_cart_product_add_after">
        <observer name="add_initial_fee" instance="Cryozonic\StripeSubscriptions\Observer\AddInitialFeeObserver" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="update_initial_fee_qty" instance="Cryozonic\StripeSubscriptions\Observer\QtyUpdateObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="update_initial_fee_predispatch" instance="Cryozonic\StripeSubscriptions\Observer\PredispatchObserver" />
    </event>
    <event name="cryozonic_stripesubscriptions_currency_switch">
        <observer name="update_initial_fee_currency_switch" instance="Cryozonic\StripeSubscriptions\Observer\CurrencySwitchObserver" />
    </event>
</config>
